<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/createForm.css">
    <title>สร้างคำร้อง</title>
</head>
<body>
    <div class="nav-bar">
        <div class="logo">
            <img src="../public/Assets/Emblem_of_Thammasat_University.svg.png">
        </div>

        <div class="nav-links">
            <div class="links-logout">
                <ul class="links">
                    <a href="../views/homepage.html" id="homepage-link">หน้าหลัก</a>
                    <a href="../views/createForm.html" id="createForm-link">สร้างคำร้อง</a>
                    <a href="../views/Draft.html" id="draft-link">แบบร่าง</a>
                </ul>
    
                <button class="logout" id="logout">Logout</button>
            </div>
            <div class="line"></div>
        </div>
    </div>

    <div class="Form">
        <div class="formContent">
            <p class="formName">
                เขียนคำร้องจดทะเบียนล่าช้า
            </p>

            <div class="buttons">
                <button class="build" id="addSubject">สร้างคำร้อง</button>
            </div>
        </div>
        <div class="formContent">
            <p class="formName">
                เขียนคำร้องถอนรายวิชา
            </p>

            <div class="buttons">
                <button class="build" id="withDraw">สร้างคำร้อง</button>
            </div>
        </div>
        <div class="formContent">
            <p class="formName">
                เขียนคำร้องขอลาออก
            </p>

            <div class="buttons">
                <button class="build" id="resign">สร้างคำร้อง</button>
            </div>
        </div>
        <div class="formContent">
            <p class="formName">
                เขียนคำร้องจดทะเบียนข้ามโครงการ
            </p>
            <div class="buttons">
                <button class="build" id="crossProgram">สร้างคำร้อง</button>
            </div>
        </div>
    </div>

    <script src="../public/createForm.js"></script>
</body>
</html>