<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/Draft.css">
    <title>แบบร่าง</title>
</head>
<body>
    <div class="nav-bar">
        <div class="logo">
            <img src="../public/Assets/Emblem_of_Thammasat_University.svg.png">
        </div>

        <div class="nav-links">
            <div class="links-logout">
                <ul class="links">
                    <a href="../views/homepage.html" id="homepage-link">หน้าหลัก</a>
                    <a href="../views/createForm.html" id="createForm-link">สร้างคำร้อง</a>
                    <a href="../views/Draft.html" id="draft-link">แบบร่าง</a>
                </ul>
    
                <button class="logout" id="logout">Logout</button>
            </div>
            <div class="line"></div>
        </div>
    </div>

    <div class="draftContent">
        <div class="topic">
            <p>แบบร่าง</p>
        </div>

        <div class="draftForm" id="draftForm">
            <p>ไม่พบข้อมูล...</p>
        </div>
    </div>

    <script src="../public/Draft.js"></script>
   
</body>
</html>