<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/TeacherHomepage.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>หน้าหลัก</title>
  </head>
  <body>
    <div class="nav-bar">
      <div class="logo">
        <img src="../public/Assets/Emblem_of_Thammasat_University.svg.png" />
      </div>

      <div class="nav-links">
        <div class="links-logout">
          <ul class="links">
            <a href="../views/TeacherHomepage.html" id="teacherHomepage-link">หน้าหลัก</a>
            <div class="dropdown">
              <span class="dropdown-toggle"
                >ประวัติ <i class="bx bx-chevron-down"></i
              ></span>
              <ul class="dropdown-menu">
                <li><a href="Accept.html" id="accept-link">อนุมัติ</a></li>
                <li><a href="Reject.html" id="reject-link">ปฏิเสธ</a></li>
              </ul>
            </div>
          </ul>
          <button class="logout" id="logout">Logout</button>
        </div>
        <div class="line"></div>
      </div>
    </div>
    <div class="tracker">
      <div class="tracker-content">
        <div class="teacherHomepage-tracker">
          <div class="tracker-title">
            <button class="dropdown-icon teacherHomepage-drop">
              <i class="bx bx-menu"></i>
            </button>
            <p>รอดำเนินการ / Pending</p>
            <i class="bx bxs-circle teacherHomepage-status-color"></i>
          </div>

          <div class="teacherHomepage-container" id="teacherHomepage-container"></div>
          
          <!-- <div class="teacherHomepage-status-container">
            <p class="teacherHomepage-no-data"></p>
            <div class="teacherHomepage-container">
              <div class="teacherHomepage-status">
                <div class="teacherHomepage-text">
                  <i class="bx bxs-circle teacherHomepage-status-color"></i>
                  <div class="text-container">
                    <p style="font-size: 25px">คำร้องจดทะเบียนล่าช้า</p>
                    <p class="sub-text">อนุมัติเมื่อ</p>
                  </div>
                </div>
                <button class="teacherHomepage-btn">รายละเอียด</button>
              </div>
            </div>
          </div> -->

        </div>
      </div>
    </div>

    <script src="../public/TeacherHomepage.js"></script>
  </body>
</html>